
.wrapper{
 background-color: #F3F0D1;

}
img{
    max-width: 100%;
}
i{
    color: #FCECDD;
}
a{
    text-decoration: none;
    cursor: pointer;
}

// SCROLLBAR


::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #ec340b;
    border-radius: 20px;
    border: 3px solid transparent;
    background-clip: content-box;
  
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #ac2a0d;
  }