nav{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    transition: all .3s ease-in-out;
}
    .active{
        background:  rgb(162, 14, 14);
        height: 55px;
        
    }
    ul {
        display: flex;
        list-style-type: none;
        justify-content: space-around;
        @include bah;
        cursor: pointer
    }


.logoleft{
    width: 220px;
    height: 50px;
    background-image: url(../img/logos/logo_del_sablon_HD-04.png);
    background-position: center;
    background-size: cover;
  
}
.links_nav_right{
    a{
        margin-right: 20px;
        text-decoration: none;
        transition: all .3s ease-in-out;
        color: black;
        font-size: 21px;
        &:hover{
            color:rgba(238, 115, 14, 0.932)
        }
        .active1{
            color: white;
        }
    
    }
}

