.news{

    width: 100%;
    margin: 0 auto;
    font-family: 'Bahnschrift', sans-serif;
    background-color: transparent;
    color:rgb(37, 36, 36);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.gallery{
    columns: 3;
    width: 95%;
    margin: 0 auto;
    column-gap: 2em;
    img{
        border-radius: 5px;
        transition: all .2s ease-in-out;
        margin-bottom: 1.5em;
        filter: grayscale(1);
        &:hover{
            filter: grayscale(0);
        }
    }
    @media screen and (max-width:1000px){
        columns: 2;
        
    }
    @media screen and (max-width:700px){
        columns: 1;
        
    }
}

.quote{
    position: relative;
    margin-bottom: 100px;
    padding: 20px;
    p{
        font-family: 'Great Vibes', cursive;
        font-size: 40px;
        font-style: italic;
        font-weight: 500;
        text-align: center;
        line-height: 38px;
        padding: 10px;
    }
    .quotes1,.quotes2{
        width: 40px;
    }
    .quotes1{
        position: absolute;
        top: -40px ;
        left: -40px;
        @media screen and (max-width:850px){
           left:50%;
           transform: translate(-50%,-50%);
            
        }
    }
    .quotes2{
        position: absolute;
        bottom: -40px ;
        right: -40px;
        @media screen and (max-width:850px){
            right: 50%;
            transform: translate(50%,50%);
            
        }
    }

}

.spotify{
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
}
.album_description{
    width: 90%;
    display: flex;
    gap: 1em;
    flex-wrap: nowrap;
    margin-bottom: 80px;
    @media screen and (max-width:1000px){
        flex-direction: column;
        
    }
    
}
.newalbum, .textnews{
   flex:1;
   
}
.newalbum{
    background-image: url(../img/tree.jpg);
    background-attachment: fixed;   
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     
        img{
           width: 100%;
           height: 100%;
           display: block;
           object-fit: cover;
                      
        }
}
.textnews{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
     margin: 0 auto;
     padding: 20px;
   
}