.bkgdfixedabout{
    height: 200px;
    background-attachment: fixed;
    background-image: url(../../img/tree-photoaidcom-blur.jpg);
    background-position: bottom;
}

.the_team{
    width: 90%;
    margin: 0 auto;
}
.team_container{
    display: flex;
    justify-content: center;
    gap: 3em;
    align-items: center;
    margin-top: 80px;
    padding-bottom: 80px;
    flex-wrap: wrap
}
.portrait{
    overflow: hidden;
    width: 300px;
    height: 80%;
    border-radius: 10px;
    position: relative;
    filter: sepia();
    img{
        width: 100%;
     
        transition:all .3s ease-in-out;
        display: block;
        cursor: pointer;
        &:hover{
            scale: (1.1);
        }
    }
}

//text inside the portraits 


.individual_text{
    position: absolute;
    height: 70px;
    bottom:0 ;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        color: #F3F0D1;
    }
    i{
        color: #C85108;
    }

}