.the_team{
    width: 90%;
    margin: 0 auto;
}
.team_container{
    display: flex;
    justify-content: center;
    gap: 3em;
    align-items: center;
    margin-top: 80px;
    padding-bottom: 80px;
    flex-wrap: wrap
}
.portrait{
    overflow: hidden;
    width: 400px;
    height: 580px;
    border-radius: 6px;
    position: relative;
    transition: all .1s linear;
   
    img{
        filter: sepia();
        width: 100%;
        transition:all .3s ease-in-out;
        display: block;
        cursor: pointer;
        &:hover{
            scale: (1.03);
            filter: none;
          
        }
    }
}

//text inside the portraits 

.portrait:hover .individual_text{
    bottom: -8%;

}
// .portrait:hover, .visible{
//     outline: 4px solid #ffffff ;

// }

.individual_text{
    position: absolute;
    width: 50%;
    height: 70px;
    bottom: -20%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(109, 25, 25, 0.26);
    background: #eee260;
    transition: all .3s ease-in-out;
     color: #222222;
   
    p{
        @include bah;
        color: #222222;
        font-size: 23px;
        i{
            color: #000000;
        }
    }
 

}
.visibletext{
    bottom: -8%; 
}